.textarea{
   width: 90%;
    height:1000px;
    padding: 20px;
    margin: 10px;
}

.container{
    display: flex;

}

.container2{
    width: 50%;
}
.container3{
    width: 50%;

}

.sub1{
    text-align: center;
}
.sub2{
    text-align: center;
}